.categories {
  input[type="checkbox"],
  input[type="radio"] {
    margin-right: 10px;
  }
}
.filter_container {
  position: sticky;
  top: 30px;
}
.feature_banner {
  img {
    height: 200px;
    object-fit: cover;
    width: 100%;
    margin-bottom: 30px;
  }
}
